In [1]:
import criarDBTemp as ct

In [2]:
a,n = ct.pesqF(25)

In [3]:
a

       typeAD  codFrom  codTo  codSTP strNAME strTYPE strVALUE  codNO
cod
24   tag-leaf       23     25      22     LUG     tag              23

In [4]:
b = ct.recNoUpToRoot_Filename(25,'DIR')

STP_Zouk_V1_Conduzido_BAS_LUG_DIR

In [2]:
import criarDBTemp as ct
ct.verificaLeafs()

#########
codNo 7:STP_Zouk_V1_Condutor_BAS_LAT_ESQ existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_LAT_ESQ Total: 6 First:pE.ABR Last:pE.LUG

#########
codNo 8:STP_Zouk_V1_Condutor_BAS_LAT_DIR existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_LAT_DIR Total: 6 First:pD.ABR Last:pD.LUG

#########
codNo 10:STP_Zouk_V1_Condutor_BAS_VER_FRT existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_VER_FRT Total: 6 First:pD.FRT Last:pD.JUN

#########
codNo 11:STP_Zouk_V1_Condutor_BAS_VER_TRS existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_VER_TRS Total: 6 First:pE.TRS Last:pE.JUN

#########
codNo 13:STP_Zouk_V1_Condutor_BAS_LUG_ESQ existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_LUG_ESQ Total: 6 First:pE.JUN Last:pE.JUN

#########
codNo 14:STP_Zouk_V1_Condutor_BAS_LUG_DIR existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Condutor_BAS_LUG_DIR Total: 6 First:pD.JUN Last:pD.JUN

#########
codNo 18:STP_Zouk_V1_Conduzido_BAS_LAT_ESQ existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_LAT_ESQ Total: 6 First:pD.ACF Last:pD.JUN

#########
codNo 19:STP_Zouk_V1_Conduzido_BAS_LAT_DIR existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_LAT_DIR Total: 6 First:pE.ACF Last:pE.JUN

#########
codNo 21:STP_Zouk_V1_Conduzido_BAS_VER_FRT existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_VER_FRT Total: 6 First:pD.FRT Last:pD.JUN

#########
codNo 22:STP_Zouk_V1_Conduzido_BAS_VER_TRS existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_VER_TRZ Total: 6 First:pE.TRS Last:pE.JUN

#########
codNo 24:STP_Zouk_V1_Conduzido_BAS_LUG_ESQ existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_LUG_ESQ Total: 6 First:pE.JUN Last:pE.JUN

#########
codNo 25:STP_Zouk_V1_Conduzido_BAS_LUG_DIR existe! Coletando atributos
##########

Nome: DNC_Zouk_V1_Conduzido_BAS_LUG_DIR Total: 6 First:pD.JUN Last:pD.JUN

    strNAME strTYPE strVALUE  codNO
cod
6       ESQ    leaf               7
7       DIR    leaf               8
9       FRT    leaf              10
10      TRS    leaf              11
12      ESQ    leaf              13
13      DIR    leaf              14
17      ESQ    leaf              18
18      DIR    leaf              19
20      FRT    leaf              21
21      TRS    leaf              22
23      ESQ    leaf              24
24      DIR    leaf              25

In [1]:
    conn=sqlite3.connect(strDbTree)
    cur=conn.cursor()
    codigoSQL = "SELECT " + findField + ", " + retField + " FROM " + tbTable + " WHERE " + findField + " = " + findValue
    #print(codigoSQL)
    cur.execute(codigoSQL)
    row=cur.fetchone()
    conn.close()
    return row[1]

NameError: name 'sqlite3' is not defined

In [1]:
import criarDBTemp as ct
ct.setSTP('','b',10,20)

    SELECT
    tbSTP.cod as cod,
    tbSTP.strNAME as strNAME,
    tbSTP.strTYPE as strTYPE,
    tbSTP.strVALUE as strVALUE,
    tbSTP.codNO as codNO
    FROM tbSTP WHERE
    tbSTP.cod > 0
    AND tbSTP.strNAME = 'a'
    AND tbSTP.strTYPE = 'b'